.grid_menu a.item {
    background: url("../images/icon_bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: table-cell;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}
.grid_menu {
    margin: 0 auto;
    width: 320px;
}